# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# OS Files
.DS_Store
Thumbs.db
*.swp
*.swo

# IDE
.vscode
.idea
*.code-workspace

# Dependencies
node_modules/
package-lock.json
yarn.lock

# Expo
.expo/
dist/
web-build/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug/Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# Files
*.pem

# Local env files
.env*.local

# TypeScript
*.tsbuildinfo

# Generated native folders
/ios
/android

# Build files
build/
